section#a-propos.success
  .container
    .row
      .col-lg-12.text-center
        h2 A propos
        hr.star-primary
    .row
      .col-lg-4.col-lg-offset-2
        p
          |Bercé par l'informatique depuis mon plus jeune âge (sur un 
          a(href="http://fr.wikipedia.org/wiki/Amstrad_PC-1512", target="_blank") Amstrad PC 1512-CM
          |), passionné par le développement, #g33k à toute heure, je suis immergé dans le monde du web et des nouvelles technologies de communication.
      .col-lg-4
        p
          |Je suis actuellement Web Developer chez 
          a(href="http://axome.com", target="_blank") axome
          |. Je travaille essentiellement sur le développement de modules et de configurateurs, le développement spécifique en front & back pour Prestashop, jQuery, WordPress, ...
      .col-lg-8.col-lg-offset-2
        p
          |J'utilise principalement les languages / technologies suivants :
        ul 
          li coffeescript
          li jade
          li sass
          li gulp
          li handlebars
          li npm
          li php
          li jQuery
          li 
            |... et bien d'autres, je vous invite à regarder le dépôt de ce site pour vous faire une idée
            |&nbsp;
            a(href="https://github.com/gouz/sylvain.gougouzian.fr", target="_blank") https://github.com/gouz/sylvain.gougouzian.fr
        p
          |Ich spreche Deutsch &amp; I speak technical English
        p
          |J'ai également comme passion le Jeu de Rôle, la musique, &hellip;
