section#parcours
  .container
    .row
      .col-lg-12.text-center
        #lifetime
          .container
            h2 Curriculum Vitae
            hr.star-primary
            #cv
              div
                h3 Parcours Universitaire
                ul#parcours_universitaire
                  li
                    span.date Juin 2000
                    strong Bac S spé Maths
                    span.lieu Lycée Roumanille - Nyons (26)
                  li
                    span.date 2000-2001
                    strong
                      acronym(title="Classe Préparatoire aux Grandes Ecoles") CPGE
                      |&nbsp;
                      acronym(title="Mathématiques Physique et Sciences de l'Ingénieur") MPSI
                    span.lieu Lycée Camille Vernet - Valence (26)
                  li
                    span.date 2001-2003
                    strong
                      acronym(title="Diplôme Universitaire de Technologie") DUT
                      |&nbsp;
                      abbr(title="Informatique et Systèmes Industriels") ISI
                    span.lieu
                      abbr(title="Université Pierre Mendès-France") UPMF
                      |&nbsp;Grenoble 2 - Valence (26)
                      br
                      i
                        |Membre du 
                        abbr(title="Conseil d'Administration") CA
                        |&nbsp;de l'
                        abbr(title="Institut Universitaire de Technologie") IUT
                  li
                    span.date 2003-2004
                    strong
                      |Licence&nbsp;
                      abbr(title="Génie des Systèmes d'Information") GSI
                    span.lieu
                      acronym(title="Institut Universitaire Professionnalisé") IUP
                      |&nbsp;GSI - Annecy-le-vieux (74)
                  li
                    span.date 2004-2005
                    strong Maîtrise GSI / Ingénieur-Maître
                    span.lieu
                      abbr(title="Insitut de Management de l'Université de Savoie") IMUS
                      |&nbsp;- Annecy-le-vieux (74)
                      br
                      i
                        |Membre du&nbsp;
                        abbr(title="Conseil d'Etudes et de Vie Universitaire") CEVU
                        |&nbsp;de l'Universit&eacute; de Savoie
                        br
                        |Membre du&nbsp;
                        abbr(title="Conseil d'Administration") CA
                        |&nbsp;de l'IMUS
                  li
                    span.date 2005-2006
                    strong
                      |Master 2
                      abbr(title="Entrepreneuriat et Technologies de l'Information et de la Communication") &nbsp;ETIC
                    span.lieu
                      acronym(title="Institut d'Administration des Entreprises") IAE
                      |&nbsp;Savoie Mont-Blanc - Annecy-le-vieux (74)
              div
                h3 Parcours Professionnel
                ul#parcours_professionnel
                  li
                    span.date 2005-2006
                    strong Développeur d'Applications Web
                    span.lieu AKAsys - Annecy-le-vieux (74)
                    span.missions Stage - Missions
                  li
                    span.date 2006-2008
                    strong Chef de projet / Développeur
                    span.lieu IDETOP - Lyon (69)
                    span.missions CDI
                  li
                    span.date 2008-2010
                    strong Lead Web Developer
                    span.lieu acti - Lyon (69)
                    span.missions CDI
                  li.current
                    span.date depuis 2010
                    strong Front &amp; Back-end Developer
                    span.lieu Axome - St-Etienne (42)
                    span.missions CDI
