header
  #photo
    img(
      src="img/me.jpg?width=384&height=576",
      alt="Photo de Sylvain Gougouzian",
      width="384",
      height="576"
    )
  .headline
    h1 
      span Bonjour, je suis
      span.print Sylvain Gougouzian
      span.aka aka gouz
    p.function (dev || lead || cto) && /remote [3-5]\/5/gi
    p.leading Fort de plus de 15 ans d'expériences salariales et entrepreneuriales, je recherche un poste au sein d'une équipe technique pour de nouveaux challenges.
    .contact
      a.button(href="mailto:sylvain@gougouzian.fr") Contactez-moi
