header
  #photo
    img(
      src="img/me.jpg?width=384&height=576",
      alt="Photo de Sylvain Gougouzian",
      width="384",
      height="576"
    )
  .headline
    h1 Bonjour, je suis
      span Sylvain Gougouzian
      span.aka aka gouz
    p.function Tech Lead / CTO
    p.leading Fort de plus de 15 ans d'expériences salariales et entrepreneuriales, je recherche à nouveau un poste au sein d'une équipe technique pour de nouveaux challenges.
    .contact
      a.button(href="mailto:sylvain@gougouzian.fr") Contactez-moi
