header
  #photo
    img(src="img/sylvain.jpg?as=webp", alt="Photo de Sylvain Gougouzian")
  .headline
    h1 Sylvain Gougouzian
    p.leading Fort de plus de 15 ans d'expérience salariale et entrepreneuriale, je recherche à nouveau un poste de développeur au sein d'une équipe technique pour de nouveaux challenges.
    p.function Tech lead Front / CTO
