section#hobbies
  +title('Compétences', 'skills')
  ul
    li Développement Informatique
      ul
        li Web (18 ans d’expérience): HTML, PHP, CSS, JS, MySQL, XML, …
        li Logiciels: Qt, C++, C#
        li Collaboratif : méthodes agiles, Git
    li Technologies et FrameWorks
      ul
        li Qt, Vue, PrestaShop, WordPress, Laravel, NodeJS, React…
        li Projets OpenSource jQuery &amp; VanillaJS
    li Management &amp; Pédagogique
      ul 
        li Pilotage d’équipe technique et mentorat d’apprentis
        li Direction d’une classe d’orchestre &amp; Harmonie
        li Trésorier d’une Association
        li Cours d’instrument &amp; Formation musicale
    li Langues
      ul
        li Allemand (accompagnement scolaire, stage en entreprise pendant 5 mois)
        li Anglais (technique, 780 au Toeic en 2006, lecture, films, séries)

  +title('Loisirs', 'hobbies')
  ul
    li Musique (Direction, Trompette, Soubassophone, Trombone, Guitare Basse, Claviers, …)
    li Jeux de rôles (Warhammer v2)
    li Rétro-Gaming
    li Streaming
