#hobbies
  +title('Loisirs', 'hobbies')
  ul
    li 
      h3.title Musique
      ul 
        li Direction d'orchestres
        li Pratique d'instruments : Trompette, Soubassophone, Trombone, Guitare Basse, Claviers, …
        li Composition, arrangements
    li 
      h3.title Streaming
      ul
        li Live-coding de projets Open-Source (mini moteur de jeu en JS, Générateur de compositions musicales)
        li Compositions
        li Jeux
    li 
      h3.title Jeux de rôles
      ul 
        li MJ : Warhammer v2
        li PJ : Warhammer v2, Pathfinder, …
    li 
      h3.title (Rétro-)Gaming
      ul
        li Collections
        li Jeux co-op horreur, FPS, …
