section#skills
  +title('Compétences', 'skills')
  ul
    li
      span.title Développement Informatique
      ul
        li Web (18 ans d’expérience) : HTML, PHP, CSS, JS, MySQL, XML, …
        li Logiciels : Qt, C++, C#
        li Collaboratif : Méthodes agiles, Git, Trello, …
    li
      span.title Technologies et FrameWorks
      ul
        li Laravel, Qt, Vue, NodeJS, React, …
        li Projets OpenSource sous jQuery &amp; VanillaJS
    li
      span.title Management &amp; Pédagogique
      ul 
        li Pilotage d’équipe technique et mentorats d’apprentis
        li Direction d’une Classe d’Orchestre &amp; Harmonie
        li Cours d’instrument &amp; Formation musicale
    li
      span.title Langues
      ul
        li Anglais (technique, 780 au Toeic en 2006, lecture, films, séries)
        li Allemand (accompagnement scolaire, stage en entreprise pendant 5 mois)

section#hobbies
  +title('Loisirs', 'hobbies')
  ul
    li 
      span.title Musique
      ul 
        li Direction d'orchestres
        li Pratique d'instrument : Trompette, Soubassophone, Trombone, Guitare Basse, Claviers, …
        li Composition, arrangements
    li 
      span.title Jeux de rôles
      ul 
        li MJ : Warhammer v2
        li PJ : Warhammer v2, Pathfinder, …
    li 
      span.title (Rétro-)Gaming
      ul
        li Collections
        li Jeux co-op horreur, fps, …
    li 
      span.title Streaming
      ul
        li Live-coding
        li Compositions
        li Jeux
