section#hobbies
  +title('Loisirs', 'hobbies')
  ul
    li 
      span.title Musique
      ul 
        li Direction d'orchestres
        li Pratique d'instrument : Trompette, Soubassophone, Trombone, Guitare Basse, Claviers, …
        li Composition, arrangements
    li 
      span.title Jeux de rôles
      ul 
        li MJ : Warhammer v2
        li PJ : Warhammer v2, Pathfinder, …
    li 
      span.title (Rétro-)Gaming
      ul
        li Collections
        li Jeux co-op horreur, fps, …
    li 
      span.title Streaming
      ul
        li Live-coding
        li Compositions
        li Jeux
    li
      span.title Talks
      ul 
        li Différents talks à WebEnVert sur des technos, méthodes
