#talks
  +title('Talks', 'talks')
  ul
    li Différents talks à WebEnVert sur des technos, méthodes :
      ul 
        li 
          span.date 2015-03-25 :
          span.talk Gulp.js
        li 
          span.date 2016-02-24 :
          span.talk Développer une API en 10 minutes avec Lumen
        li 
          span.date 2016-10-27 :
          span.talk Taïga vs Trello, Kanban appliqué à la gestion de projet
