#univ
  +title('Parcours universitaire', 'univ')
  ul 
    +step("2005-2006", "IAE Savoie-Mont Blanc", "Master 2 Entrepreneuriat & Technologies de l’Information et de la Communication")
      p 
        b Stage:&nbsp;
        | Conception d'un framework en PHP et développement d'une application web avec celui-ci.
      p 
        b Projet :&nbsp;
        | Création d’une entreprise « Hermaï » de bornes bluetooth interactives pour les offices de tourisme des villes d’Art et d’Histoire
      p 
        b Mémoire de fin d’étude :&nbsp;
        | Création d’une méthodologie agile appliquée dans le cadre d’un développement d’une application web.

    +step("2004-2005", "IMUS", "Maîtrise Génie des Systèmes Industriels / Ingénieur Maître")
      p 
        b Stage:&nbsp;
        | Intégration dans l'équipe de développement du noyau du logiciel Agilium.
      p
        b Projet :&nbsp;
        | Création d’un MES en collaboration avec Agilium (communication SOAP WinDev, Java)

    +step("2003-2004", "IUP GSI", "Licence Génie des Systèmes Industriels")
      p 
        b Stage:&nbsp;
        | Développement d'un ERP pour un cabinet d'experts comptable.
      p
        b Projet :&nbsp;
        | Développement d’une application de QCM en Java

    +step("2001-2003", "IUT Valence", "DUT Informatique option Systèmes Industriels")
      p 
        b Stage:&nbsp;
        | Intégration d'une équipe de développeurs PHP en Allemagne.
      p
        b Projet :&nbsp;
        | Communication infrarouge pour géolocalisation d’un robot via triangularisation (C++, VHDL)
