#background {
  @apply grid grid-cols-4;

  .tile {
    width: 101px;
    height: 171px;
    margin-top: -171px / 2;
  }

  .cement {
    background-image: url(../img/game/blocks/cement.png);
  }

  .dirt {
    background-image: url(../img/game/blocks/dirt.png);
  }

  .earth {
    background-image: url(../img/game/blocks/earth.png);
  }

  .grass {
    background-image: url(../img/game/blocks/grass.png);
  }

  .water {
    background-image: url(../img/game/blocks/water.png);
  }

  .wood {
    background-image: url(../img/game/blocks/wood.png);
  }
}
