html,
body,
pre,
code,
kbd,
samp {
  font-family: 'Press Start 2P', cursive;
}

html,
body {
  height: 100%;
  width: 100%;
}

.flex {
  background-color: #212529;
  display: flex;
  height: 100%;
  align-items: center;
  justify-items: center;

  > section.is-dark.nes-container {
    margin-left: auto;
    margin-right: auto;
  }

  img {
    width: 96px;
    height: 96px;
  }
}

.space-between {
  justify-content: space-between;
}
