header
  #photo
    img(
      src="me.jpg",
      alt="Photo of Sylvain Gougouzian",
      width="384",
      height="576"
    )
  .headline
    h1 
      span Hello, I am
      span.print Sylvain Gougouzian
      span.aka aka gouz
    // p.function (dev || lead || cto) && /remote [3-5]\/5/gi
    p.leading Curious and passionate developer, I like to explore different technologies and different worlds. In order to test these ideas, I stream from time to time on Twitch my sides-projects available also on GitHub or Gitlab.
    .contact
      a.button(href="mailto:sylvain@gougouzian.fr") Contact me
