header
  #photo
    img(
      src="me.jpg",
      alt="Photo of Sylvain Gougouzian",
      width="384",
      height="576"
    )
  .headline
    h1 
      span Hello, I am
      span.print Sylvain Gougouzian
      span.aka aka gouz
    p.function (dev || lead || cto) && /remote [3-5]\/5/gi
    p.leading With over 15 years of salary and entrepreneurial experience, I am looking for a position within a technical team for new challenges.
    .contact
      a.button(href="mailto:sylvain@gougouzian.fr") Contact me
