#hobbies
  +title('Hobbies', 'hobbies')
  ul
    li 
      h3.title Music
      ul 
        li Conducting orchestras
        li Practice of instruments : Trumpet, Sousaphone, Trombone, Bass guitar, Keyboards, …
        li Composition, arrangements
    li 
      h3.title Streaming
      ul
        li Live-coding of Open-Source projects (mini game engine in JS, music composition generator, …)
        li Compositions
        li Games
    li
      h3.title Maker
      ul
        li IoT prototype realization with Raspberry Pi &amp; Arduino
        li 3D Printing (PLA &amp; SLA)
    li.no-print 
      h3.title RPG
      ul 
        li Master : Warhammer v2
        li Player : Warhammer v2, Pathfinder, …
    li 
      h3.title (Retro-)Gaming
      ul
        li Collections
        li Co-op horror games, FPS, …
