#pro
  +title('Professional background', 'pro')

  ul 
    +step("Septembre 2022", "Zenika - Clermont-Ferrand", "Consultant", "https://zenika.com/")
      p Supporting clients on various technologies (JavaScript, WebAssembly, &hellip;)
    +step("April 2022", "Dev'in", "Self-employed", "https://dev-in.fr")
      p Creation of a company for web application development and consulting.
    +step("May 2020 – July 2022", "Lidrea", "Chairman, Co-Founder, CTO", "https://lidrea.fr")
      p Creation of a SAS in computer development (web, software, IoT) and mechatronics design.
      p Web application development, Qt
      p Training (Qualiopi certification)
    +step("November 2015 – Februar 2020", "QiOVA", "IT R&D Engineer - IT Development Manager", "https://www.qiova.fr/")
      p In charge of the development of a modular software suite named BeamForge developed with Qt, I set up the collaborative development tools necessary to the smooth running of the project. I also developed smartphones/web applications and tutored an apprentice.
    +step("August 2010 – November 2015", "Trenta/Axome", "Full-Stack Developer, PrestaShop Expert", "https://www.axome.com/")
      p During these five years during which I created e-commerce websites within this communication agency, I became a referent in the development of payment modules, customizations, interactions with ERP … for PrestaShop. I also participated in modifying the core of this solution by allowing the overloading of modules. In support of the quotations with the salesmen and in analysis of the needs and realizations, I was able to work on sites of big local, national and international brands in all the domains (textile, mass distribution, luxury, …).
    +step("August 2010 – December 2012", "SylvainGougouzian", "Self-employed")
      p Creation of websites, web applications, development of PrestaShop modules.
    +step("August 2008 – August 2010", "acti", "Lead web developer", "https://www.acti.fr/")
      p During these two years spent in this communication agency I realized sites under SPIP mainly. My role as Lead web developer was to always be in touch with new technologies and to bring my technical support and training to the other developers of the company.
    +step("August 2006 – August 2008", "IDETOP", "Web studio manager", "http://www.idetop.com/")
      p Within this communication agency, I was in charge of creating a web studio for the realization of websites in addition to the print studio.
    +step("August 2005 – August 2006", "AkaSystèmes", "Web application developer")
      p In this start-up, I had for project to bring my knowledge with the software developed by Agilium and the realization of a Web framework.
    +step("Avril 2005 – Juillet 2005", "Agilium", "Application developer")
      p In this company, I was able to discover the world of start-ups (oséo prize) and also discover software development coupled with the web with all the innovative technologies of the time
