#projects
  +title('Projects', 'projects')
  ul
    li 
      a(href="https://gouz.github.io/muzik/" target="_blank" rel="noopener") 
        b MuziK :&nbsp;
        span A Youtube / SoundCloud player with playlist management
    li 
      a(href="https://gouz.github.io/barry/" target="_blank" rel="noopener") 
        b Barry :&nbsp;
        span Find the nearest meeting place for friends
    li 
      a(
        href="https://gouz.github.io/HamaCreator/",
        target="_blank",
        rel="noopener"
      ) 
        b HamaCreator :&nbsp;
        span Turn your images into a Hama bead pattern based on your inventory.
    li 
      a(href="https://gouz.github.io/hymn/" target="_blank" rel="noopener") 
        b Hymn :&nbsp;
        span Generate music based on a text (project in development, to be followed on Twitch).
    li 
      b Kody :&nbsp;
      span Creation of an educational tool for children to learn algorithms (project under development, to be followed on Twitch).
