#skills
  +title('Skills', 'skills')
  ul
    li
      span.title IT Development
      ul
        li Web (18 years of experience) : HTML, PHP, CSS, JS, MySQL, XML, …
        li Softwares : Qt, C++, C#
        li Collaborative : Agile methods, Git, Trello, …
        li GreenIT
    li
      span.title Technologies &amp; FrameWorks
      ul
        li Laravel, Qt, Vue, NodeJS, React, …
        li OpenSource projects in jQuery &amp; VanillaJS :&nbsp;
          a(href="https://github.com/gouz" target="_blank" rel="noopener") My Github repositories
    li
      span.title Management &amp; Pedagogy
      ul 
        li Technical team management and apprentice mentoring
        li Conducting an orchestra class &amp; an orchestra
        li Instrument lessons and musical training
    li
      span.title Languages
      ul
        li French (native language)
        li English (technical, 780 at Toeic in 2006, reading, movies, series)
        li German (school support, internship in a company for 5 months)
