#talks
  +title('Talks', 'talks')
  ul
    li Various talks (WebEnVert, ...) on technologies, methods :
      ul 
        li
          span.date 2023 :
          span.talk Comment gérer des journées de 35h ?
          ul
            li
              a(href="https://touraine.tech/talk/4ZuVgkJsSPF3AgU7aSBn", target="_blank", rel="noopener") 2023-01-20: Touraine Tech
            li
              a(href="https://www.verytechtrip.com/programme/", target="_blank", rel="noopener") 2023-02-02: Very Tech Trip
        li 
          span.date 2016-10-27 :
          span.talk Taïga vs Trello, Kanban appliqué à la gestion de projet
        li 
          span.date 2016-02-24 :
          span.talk Développer une API en 10 minutes avec Lumen
        li 
          span.date 2015-03-25 :
          span.talk Gulp.js

