#talks
  +title('Talks', 'talks')
  ul
    li Various talks (WebEnVert, ...) on technologies, methods :
      ul 
        li 
          span.date 2015-03-25 :
          span.talk Gulp.js
        li 
          span.date 2016-02-24 :
          span.talk Develop an API in 10 minutes with Lumen
        li 
          span.date 2016-10-27 :
          span.talk Taiga vs Trello, Kanban applied to project management
        li
          span.date TBA :
          span.talk How to manage 35-hour days?
