#univ
  +title('University career', 'univ')
  ul 
    +step("2005 – 2006", "IAE Savoie-Mont Blanc", "Master 2 Entrepreneuriat & Technologies de l’Information et de la Communication")
      p 
        b Internship:&nbsp;
        | Design of a PHP framework and development of a web application with it.
      p 
        b Project:&nbsp;
        | Creation of a company " Hermaï " of interactive bluetooth terminals for the tourist offices of the cities of Art and History
      p 
        b Mémoire:&nbsp;
        | Creation of an agile methodology applied to the development of a web application.

    +step("2004 – 2005", "IMUS", "Maîtrise Génie des Systèmes Industriels / Ingénieur Maître")
      p 
        b Internship:&nbsp;
        | Integration in the development team of the Agilium software core.
      p
        b Project:&nbsp;
        | Creation of a MES in collaboration with Agilium (SOAP WinDev communication, Java)

    +step("2003 – 2004", "IUP GSI", "Licence Génie des Systèmes Industriels")
      p 
        b Internship:&nbsp;
        | Development of an ERP for an accounting firm.
      p
        b Project:&nbsp;
        | Development of a QCM application in Java

    +step("2001 – 2003", "IUT Valence", "DUT Informatique option Systèmes Industriels")
      p 
        b Internship:&nbsp;
        | Integration of a team of PHP developers in Germany.
      p
        b Project:&nbsp;
        | Infrared communication for geolocation of a robot via triangularization (C++, VHDL)
