footer
  #source
    a(
      href="https://github.com/gouz/sylvain.gougouzian.fr",
      target="_blank",
      rel="noopener"
    ) Source code

  .to-print
    p#url https://sylvain.gougouzian.fr | sylvain@gougouzian.fr