header
  #photo
    img(
      src="me.jpg",
      alt="Photo de Sylvain Gougouzian",
      width="384",
      height="576"
    )
  .headline
    h1 
      span Bonjour, je suis
      span.print Sylvain Gougouzian
      span.aka aka gouz
    //p.function (dev || lead || cto) && /remote [3-5]\/5/gi
    p.leading Développeur curieux et passionné, j’aime explorer différentes technologies et différents univers. Afin de tester ces idées, je streame de temps en temps sur Twitch mes sides-projects disponibles également sur GitHub ou Gitlab.
    //p.leading Chef d’orchestre et musicien en loisirs, j’aime voir les projets et équipes comme des partitions et orchestres, bien harmonisés et avançant ensemble dans une direction commune pour garantir une excellente représentation.

    .contact
      a.button(href="https://gouz.dev", target="_blank", rel="noopener") Contactez-moi
