#pro
  +title('Parcours professionnel', 'pro')

  ul 
    +step("Septembre 2022", "Zenika - Clermont-Ferrand", "Consultant", "https://zenika.com/")
      p Accompagnement de clients sur diverses technologies (JavaScript, WebAssembly, &hellip;)
    +step("Avril 2022", "Dev'in", "Auto-Entreprise", "https://dev-in.fr")
      p Création d'une auto-entreprise pour du développement d'applications web ainsi que du conseil.
    +step("Mai 2020 – Juillet 2022", "Lidrea", "Président, Co-Fondateur, Directeur Technique", "https://lidrea.fr")
      p Création d'une SAS dans le développement informatique (web, software, IoT) et la conception mécatronique.
      p Développements d'applications web, Qt
      p Formations (certification Qualiopi)
    +step("Novembre 2015 – Février 2020", "QiOVA", "Ingénieur R&D Informatique - Responsable développement Informatique", "https://www.qiova.fr/")
      p En charge du développement d’une suite logicielle modulaire BeamForge développée sous Qt, j’ai donc mis en place les outils de développement collaboratif nécessaires au bon déroulement du projet. J’ai également développé des applications smartphones / web et tutoré un apprenti.
    +step("Août 2010 – Novembre 2015", "Trenta/Axome", "Développeur Full-Stack, expert PrestaShop", "https://www.axome.com/")
      p Durant ces cinq années durant lesquelles j’ai créé des sites internet e-commerce au sein de cette agence de communication, je suis devenu un référent dans le développement de modules de paiements, de personnalisations, d’interactions avec des ERP… pour PrestaShop. J’ai également participé à modifier le noyau de cette solution en permettant la surcharge des modules. En soutien aux chiffrages avec les commerciaux et en analyse des besoins et réalisations, j’ai pu travailler sur des sites de grandes marques locales, nationales et internationales dans tous les domaines (textiles, grande distribution, luxe, …).
    +step("Août 2010 – Décembre 2012", "SylvainGougouzian", "Auto-Entreprise")
      p Réalisation de sites, applications web, développement de modules PrestaShop.
    +step("Août 2008 – Août 2010", "acti", "Lead web developer", "https://www.acti.fr/")
      p Pendant ces deux années passées dans cette agence de communication j’ai réalisé des sites sous SPIP principalement. Mon rôle de Lead web developer était de toujours être en écoute aux nouvelles technologies et d’apporter mon soutien technique et formation auprès des autres développeurs de la société.
    +step("Août 2006 – Août 2008", "IDETOP", "Responsable studio web", "http://www.idetop.com/")
      p Au sein de cette agence de communication, j’ai eu à charge de créer un studio web pour la réalisation de sites internet en complément du studio print.
    +step("Août 2005 – Août 2006", "AkaSystèmes", "Développeur d'application web")
      p Dans cette start-up, j’ai eu pour projet d’apporter mes connaissances avec le logiciel développé par Agilium et la réalisation d’un framework Web.
    +step("Avril 2005 – Juillet 2005", "Agilium", "Développeur d'applications")
      p Dans cette entreprise, j’ai pu découvrir le monde des start-ups (prix oséo) et découvrir également le développement logiciel couplé au web avec toutes les technologies innovantes de l’époque
