#projects
  +title('Projets', 'projects')
  ul
    li 
      a(href="https://gouz.github.io/muzik/" target="_blank" rel="noopener") 
        b MuziK :&nbsp;
        span Un player Youtube / SoundCloud avec gestion de playlist
    li 
      a(href="https://gouz.github.io/barry/" target="_blank" rel="noopener") 
        b Barry :&nbsp;
        span Trouvez le point de rencontre le plus proche entre ami·e·s
    li 
      a(
        href="https://gouz.github.io/HamaCreator/",
        target="_blank",
        rel="noopener"
      ) 
        b HamaCreator :&nbsp;
        span Transformez vos images en un modèle de perles Hama en fonction de vos stocks.
    li 
      a(href="https://gouz.github.io/hymn/" target="_blank" rel="noopener") 
        b Hymn :&nbsp;
        span Générez de la musique en fonction d'un texte (projet en cours de développement, à suivre sur Twitch).
    li 
      b Kody :&nbsp;
      span Création d'un outil pédagogique à destination des enfants pour l'apprentissage de l'algorithmie (projet en cours de développement, à suivre sur Twitch).