#skills
  +title('Compétences', 'skills')
  ul
    li
      span.title Développement Informatique
      ul
        li Web (18 ans d’expérience) : HTML, PHP, CSS, JS, MySQL, XML, …
        li Logiciels : Qt, C++, C#
        li Collaboratif : Méthodes agiles, Git, Trello, …
        li GreenIT
    li
      span.title Technologies et FrameWorks
      ul
        li Laravel, Qt, Vue, NodeJS, React, …
        li Projets OpenSource sous jQuery &amp; VanillaJS :&nbsp;
          a(href="https://github.com/gouz" target="_blank" rel="noopener") Mes dépôts Github
    li
      span.title Management &amp; Pédagogique
      ul 
        li Pilotage d’équipe technique et mentorats d’apprentis
        li Direction d’une Classe d’Orchestre &amp; Harmonie
        li Cours d’instrument &amp; Formation musicale
    li
      span.title Langues
      ul
        li Français (langue maternelle)
        li Anglais (technique, 780 au Toeic en 2006, lecture, films, séries)
        li Allemand (accompagnement scolaire, stage en entreprise pendant 5 mois)
