#talks
  +title('Talks', 'talks')
  ul
    li
      span.talk De JavaScript à l'impression 3D, promenons-nous dans les jardins de Babylon
      ul
        li 
          a(href="https://devfesttoulouse.fr", target="_blank", rel="noopener") 2023-11-16 : DevFest Toulouse
    li
      span.talk Comment gérer des journées de 35h ?
      ul
        li
          a(href="https://touraine.tech/talk/4ZuVgkJsSPF3AgU7aSBn", target="_blank", rel="noopener") 2023-01-20 : Touraine Tech
        li
          a(href="https://www.verytechtrip.com/programme/", target="_blank", rel="noopener") 2023-02-02 : Very Tech Trip
        li
          a(href="https://www.youtube.com/watch?v=ylrp8D0w540", target="_blank", rel="noopener") 2023-03-31 : Last Friday Talks @ Bedrock 
        li
          a(href="https://www.youtube.com/watch?v=GTFFqzAvZlg", target="_blank", rel="noopener") 2023-04-28 : TechnoZaure Lyon
        li
          a(href="https://webenvert.fr", target="_blank", rel="noopener") 2023-05-17 : Web En Vert
        li 
          a(href="https://camping-speakers.fr", target="_blank", rel="noopener") 2023-06-16 : Camping des Speakers
        li
          a(href="https://www.clermontech.org", target="_blank", rel="noopener") 2023-06-20 : Clermon'tech
    li 
      span.date 2016-10-27 :
      span.talk Taïga vs Trello, Kanban appliqué à la gestion de projet
    li 
      span.date 2016-02-24 :
      span.talk Développer une API en 10 minutes avec Lumen
    li 
      span.date 2015-03-25 :
      span.talk Gulp.js
