doctype html
html(lang="fr")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(name="description", content="Sylvain Gougouzian | CTO @ lidrea")
    title Sylvain Gougouzian
  body
    main
      #canvas-wrapper
        canvas#board-background
        canvas#board-character
    script(src="js/main.js", type="module")