doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Sylvain Gougouzian
    link(rel="stylesheet", href="/less/main.less")
  body
    .flex
      section.nes-container.is-dark
        section.message-list
          section.message.-left
            img(src="gouz.jpg", style="image-rendering: pixelated;")
            .nes-balloon.from-left.is-dark
              p A new version is coming
              a.nes-btn(href="https://lidrea.fr", target="_blank") lidrea.fr
              a(href="https://github.com/gouz", target="_blank")
                i.nes-octocat.animate
    script(src="/js/main.js", defer)