doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Sylvain Gougouzian
    link(rel="stylesheet", href="/less/main.less")
  body
    .nes-container.is-rounded.is-dark
      h1 Sylvain Gougouzian
      a.nes-btn(href="https://lidrea.fr", target="_blank") lidrea.fr
    script(src="/js/main.js", defer)