<div class="col-sm-4 portfolio-item">
  <a href="{{url}}" class="portfolio-link" target="_blank">
    <div class="caption">
      <div class="caption-content">
        <i class="fa fa-search-plus fa-3x"></i>
        <br />
        {{name}}
      </div>
    </div>
    <img src="assets/img/portfolio/{{img}}.png" class="img-responsive" alt="{{name}}">
  </a>
</div>
