<div class="col-sm-1 col-xs-2 skill-item">
  <a href="{{url}}" class="skill-link" target="_blank">
    <img src="assets/img/skills/{{{logoapi url}}}.png" class="img-responsive" alt="{{name}}">
    <div class="caption">
      <div class="caption-content">
        {{name}}
      </div>
    </div>
  </a>
</div>
